@charset 'UTF-8';

.image-arrow-box {
    border: none;
    background: #97928F;
    opacity: 0.4;
    filter: alpha(opacity=40);
    margin-top: auto;
    height: 80px;
    line-height: 86px;
    width: 40px;
    font-size: 24px;
    position: absolute;
    top: 50%;
    margin-top: -40px;
    font-family: "SSStandard";
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    color: #F2F1F1;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}
#image-right-arrow-container {
    right: 0%;
}
#image-right-arrow {
    border-radius: 3px 0 0 3px;

}
.image-arrow-box-container {
    position: absolute;
    top: 0%;
    height: 100%;
}
.image-right-arrow-container {
    display: block;
    font-family: "Graphik Webfont",
    -apple-system,
    system-ui,
    Roboto,
    "Droid Sans",
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif;
    font-size: 12px;
    height: 568px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: absolute;
    right: 0px;
    text-align: center;
    text-rendering: optimizeLegibility;
    top: 0px;
    user-select: none;
    visibility: visible;
    width: 0px;
}

.carousel-image:before {

    -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden; 
  }

  .carousel-image:after {
    opacity: 1;
    visibility: visible; 
  }
.slick-dots li {
    position: relative;
    display: inline-block;
    /* width: 20px; */
    height: 33px;
    margin: 0 7px;
    padding: 0;
    cursor: pointer;
}

.thumb-default {
    opacity: 0.6;
    border-radius: 3px;
}

.slick-prev,
.slick-next {
    /* border-radius: 0 3px 3px 0; */
    z-index: 1;
}

.image-arrow-box-container,
.slick-prev,
.slick-next {

    top: 0%;
    height: 100%;
    line-height: 86px;
}

.slick-prev {
    align-items: flex-start;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(151, 146, 143);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    border-bottom-color: rgb(242, 241, 241);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 3px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(242, 241, 241);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(242, 241, 241);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(242, 241, 241);
    border-top-left-radius: 0px;
    border-top-right-radius: 3px;
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(242, 241, 241);
    cursor: default;
    display: block;
    filter: none;
    font-family: SSStandard;
    font-feature-settings: 'liga' 1;
    font-size: 24px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    height: 80px;
    letter-spacing: normal;
    line-height: 86px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -40px;
    opacity: 0.4;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: absolute;
    text-align: center;
    text-decoration-color: rgb(242, 241, 241);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-indent: 0px;
    text-rendering: optimizeLegibility;
    text-shadow: none;
    text-transform: none;
    top: 284px;
    transition-delay: 0s;
    transition-duration: 0.1s;
    transition-property: all;
    transition-timing-function: ease;
    user-select: none;
    visibility: visible;
    white-space: nowrap;
    width: 40px;
    word-spacing: 0px;
    writing-mode: horizontal-tb;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    -webkit-border-image: none;
}

.slick-next {
    align-items: flex-start;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(151, 146, 143);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    border-bottom-color: rgb(242, 241, 241);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 0px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(242, 241, 241);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(242, 241, 241);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(242, 241, 241);
    border-top-left-radius: 3px;
    border-top-right-radius: 0px;
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(242, 241, 241);
    cursor: default;
    display: block;
    filter: none;
    font-family: SSStandard;
    font-feature-settings: 'liga' 1;
    font-size: 24px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    height: 80px;
    letter-spacing: normal;
    line-height: 86px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -40px;
    opacity: 0.4;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: absolute;
    right: 0px;
    text-align: center;
    text-decoration-color: rgb(242, 241, 241);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-indent: 0px;
    text-rendering: optimizeLegibility;
    text-shadow: none;
    text-transform: none;
    top: 284px;
    transition-delay: 0s;
    transition-duration: 0.1s;
    transition-property: all;
    transition-timing-function: ease;
    user-select: none;
    visibility: visible;
    white-space: nowrap;
    width: 40px;
    word-spacing: 0px;
    writing-mode: horizontal-tb;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    -webkit-border-image: none;
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    font-feature-settings: "liga";
    color: #F2F1F1;
    background: #97928F;
    opacity: 0.8;
}

/* Slider */

.slick-loading {
    background: #fff url('./ajax-loader.gif') center center no-repeat;
    width: 505px;
    background-color: rgb(245, 245, 241);
    box-shadow: rgb(0, 0, 0) 0px 0px 40px -25px inset;
    font-family: "Graphik Webfont", -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    margin-bottom: 4px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
    text-align: center;
    text-rendering: optimizelegibility;
    visibility: visible;
}

@font-face {
    font-family: "Guardian-EgypTT";
    src: url("/assets/type/Guardian-EgypTT-Semibold.woff2") format("woff2");
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
}

@font-face {
    font-family: "Guardian-EgypTT";
    src: url("/assets/type/Guardian-EgypTT-Medium.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
}

@font-face {
    font-family: "Guardian-EgypTT";
    src: url("/fonts/Guardian-EgypTT-Regular.eot");
    src: url("/fonts/Guardian-EgypTT-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Guardian-EgypTT-Regular.woff2") format("woff2"), url("/fonts/Guardian-EgypTT-Regular.woff") format("woff"), url("/fonts/Guardian-EgypTT-Regular.ttf") format("truetype"), url("/fonts/Guardian-EgypTT-Regular.svg#Guardian EgypTT") format("svg");
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    font-family: "Guardian-EgypTT-Regular";
    src: url("/fonts/Guardian-EgypTT-Regular-It.woff2") format("woff2");
    font-style: italic;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    font-family: "Guardian-EgypTT-Light";
    src: url("/fonts/Guardian-EgypTT-Light-It.woff2") format("woff2");
    font-style: italic;
    font-weight: 300;
    font-stretch: normal;
}

@font-face {
    font-family: "Guardian-EgypTT";
    src: url("/fonts/Guardian-EgypTT-Light.woff2") format("woff2");
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
}

@font-face {
    font-family: "Guardian-EgypTT-Text";
    src: url("/fonts/Guardian-EgypTT-Text-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    font-family: "Guardian-EgypTT-Text";
    src: url("/fonts/Guardian-EgypTT-Text-Regular-It.woff2") format("woff2");
    font-style: italic;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    font-family: "Guardian-EgypTT-Text";
    src: url("/fonts/Guardian-EgypTT-Text-Medium.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
}

@font-face {
    font-family: "Graphik Web";
    src: url("/fonts/Graphik-Regular-Web.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "Graphik Web";
    src: url("/assets/type/Graphik-Regular-Web.eot");
    src: url("/assets/type/Graphik-Regular-Web.eot?#iefix") format("embedded-opentype"), url("/assets/type/Graphik-Regular-Web.woff2") format("woff2"), url("/assets/type/Graphik-Regular-Web.woff") format("woff"), url("/assets/type/Graphik-Regular-Web.svg#Graphik-Regular-Web") format("svg"), url("/assets/type/Graphik-Regular-Web.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "Graphik Web";
    src: url("/assets/type/Graphik-Medium-Web.eot");
    src: url("/assets/type/Graphik-Medium-Web.eot?#iefix") format("embedded-opentype"), url("/assets/type/Graphik-Medium-Web.woff2") format("woff2"), url("/assets/type/Graphik-Medium-Web.woff") format("woff"), url("/assets/type/Graphik-Medium-Web.svg#Graphik-Medium-Web") format("svg"), url("/assets/type/Graphik-Medium-Web.ttf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "Graphik Web";
    src: url("/assets/type/Graphik-Medium-Web.eot");
    src: url("/assets/type/Graphik-Medium-Web.eot?#iefix") format("embedded-opentype"), url("/assets/type/Graphik-Medium-Web.woff2") format("woff2"), url("/assets/type/Graphik-Medium-Web.woff") format("woff"), url("/assets/type/Graphik-Medium-Web.svg#Graphik-Medium-Web") format("svg"), url("/assets/type/Graphik-Medium-Web.ttf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "Graphik Web";
    src: url("/assets/type/Graphik-Medium-Web.eot");
    src: url("/assets/type/Graphik-Medium-Web.eot?#iefix") format("embedded-opentype"), url("/assets/type/Graphik-Medium-Web.woff2") format("woff2"), url("/assets/type/Graphik-Medium-Web.woff") format("woff"), url("/assets/type/Graphik-Medium-Web.svg#Graphik-Medium-Web") format("svg"), url("/assets/type/Graphik-Medium-Web.ttf") format("opentype");
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}

/* Icons */

@font-face {
    font-family: "SSStandard";
    src: url('ss-standard.eot');
    src: url('/fonts/ss-standard.eot?#iefix') format('embedded-opentype'), url('/fonts/ss-standard.woff') format('woff'), url('/fonts/ss-standard.ttf') format('truetype'), url('/fonts/ss-standard.svg#SSStandard') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SSEtsy";
    src: url('/fonts/ss-etsy-2.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/fonts/slick.eot');
    src: url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/fonts/slick.eot?#iefix') format('embedded-opentype'), url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/fonts/slick.woff') format('woff'), url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/fonts/slick.ttf') format('truetype'), url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/fonts/slick.svg#slick') format('svg');
}

.content {
    padding: 20px;
    margin: auto;
    width: 90%;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before,
.slick-next:before {
    /* font-family: "SSStandard"; */
    font-size: 20px;
    line-height: 86px;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    /* left: -25px; */
}

[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto;
}

.slick-prev:before {
    line-height: 86px;
    content: '◅';
    font-family: "SSStandard"
}

[dir='rtl'] .slick-prev:before {
    content: '▻';
    font-family: "SSStandard"
}


[dir='rtl'] .slick-next {
    /* right: auto;
    left: -25px; */
}

.slick-next:before {
    content: '▻';
}

[dir='rtl'] .slick-next:before {
    line-height: 86px;
    content: '◅';
}

/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    /* width: 20px; */
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active img {
    opacity: 1;
    color: black;
    border-radius: 3px;
}

.dot-style {
    margin-top: 7px;
}

img[class] {
    width: 100%;
}
    .image-container,
    .slick-active,
    .slick-slide {
        background-color: rgb(245, 245, 241);
        box-shadow: rgb(0, 0, 0) 0px 0px 40px -25px inset;
        font-family: "Graphik Webfont", -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
        font-size: 12px;
        margin-bottom: 4px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: auto;
        padding-bottom: 10px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 10px;
        /* position: relative; */
        text-align: center;
        text-rendering: optimizelegibility;
        visibility: visible;
        width: '560px';
        height: '509px';
        /* transform: 'perspective(1px) translateY(-50%)', */
        display: flex;
        min-height: 0;
        min-width: 0;
        align-items: center;
        justify-content: center;
        /* height: 100vh;  */
    }
   
    .ss-icon {
        font-family: 'SSEtsy';
    }
    .zoom {
        font-family: "Graphik Web";
    }