.slick-dots li {
    position: relative;
    display: inline-block;
    /* width: 20px; */
    height: 33px;
    margin: 0 7px;
    padding: 0;
    cursor: pointer;
}

.thumb-default {
    opacity: 0.6;
    border-radius: 3px;
}

.slick-prev,
.slick-next {
    /* border-radius: 0 3px 3px 0; */
    z-index:1;
}
.image-arrow-box-container, .slick-prev,
.slick-next {
    position: absolute;
    top: 0%;
    height: 100%;
}
.slick-prev {
    align-items: flex-start;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(151, 146, 143);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat-x:;
    background-repeat-y:;
    background-size: auto;
    border-bottom-color: rgb(242, 241, 241);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 3px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(242, 241, 241);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(242, 241, 241);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(242, 241, 241);
    border-top-left-radius: 0px;
    border-top-right-radius: 3px;
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(242, 241, 241);
    cursor: default;
    display: block;
    filter: none;
    font-family: SSStandard;
    font-feature-settings: 'liga' 1;
    font-size: 24px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    height: 80px;
    letter-spacing: normal;
    line-height: 86px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -40px;
    opacity: 0.4;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: absolute;
    text-align: center;
    text-decoration-color: rgb(242, 241, 241);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-indent: 0px;
    text-rendering: optimizeLegibility;
    text-shadow: none;
    text-transform: none;
    top: 284px;
    transition-delay: 0s;
    transition-duration: 0.1s;
    transition-property: all;
    transition-timing-function: ease;
    user-select: none;
    visibility: visible;
    white-space: nowrap;
    width: 40px;
    word-spacing: 0px;
    writing-mode: horizontal-tb;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    -webkit-border-image: none;
}
.slick-next {
    align-items : flex-start;
    background-attachment : scroll;
    background-clip : border-box;
    background-color : rgb(151, 146, 143);
    background-image : none;
    background-origin : padding-box;
    background-position-x : 0%;
    background-position-y : 0%;
    background-repeat-x :;
    background-repeat-y :;
    background-size : auto;
    border-bottom-color : rgb(242, 241, 241);
    border-bottom-left-radius : 3px;
    border-bottom-right-radius : 0px;
    border-bottom-style : none;
    border-bottom-width : 0px;
    border-image-outset : 0px;
    border-image-repeat : stretch;
    border-image-slice : 100%;
    border-image-source : none;
    border-image-width : 1;
    border-left-color : rgb(242, 241, 241);
    border-left-style : none;
    border-left-width : 0px;
    border-right-color : rgb(242, 241, 241);
    border-right-style : none;
    border-right-width : 0px;
    border-top-color : rgb(242, 241, 241);
    border-top-left-radius : 3px;
    border-top-right-radius : 0px;
    border-top-style : none;
    border-top-width : 0px;
    box-sizing : border-box;
    color : rgb(242, 241, 241);
    cursor : default;
    display : block;
    filter : none;
    font-family : SSStandard;
    font-feature-settings : 'liga' 1;
    font-size : 24px;
    font-stretch : 100%;
    font-style : normal;
    font-variant-caps : normal;
    font-variant-east-asian : normal;
    font-variant-ligatures : normal;
    font-variant-numeric : normal;
    font-weight : 400;
    height : 80px;
    letter-spacing : normal;
    line-height : 86px;
    margin-bottom : 0px;
    margin-left : 0px;
    margin-right : 0px;
    margin-top : -40px;
    opacity : 0.4;
    padding-bottom : 0px;
    padding-left : 0px;
    padding-right : 0px;
    padding-top : 0px;
    position : absolute;
    right : 0px;
    text-align : center;
    text-decoration-color : rgb(242, 241, 241);
    text-decoration-line : none;
    text-decoration-style : solid;
    text-indent : 0px;
    text-rendering : optimizeLegibility;
    text-shadow : none;
    text-transform : none;
    top : 284px;
    transition-delay : 0s;
    transition-duration : 0.1s;
    transition-property : all;
    transition-timing-function : ease;
    user-select : none;
    visibility : visible;
    white-space : nowrap;
    width : 40px;
    word-spacing : 0px;
    writing-mode : horizontal-tb;
    -webkit-appearance : none;
    -webkit-font-smoothing : antialiased;
    -webkit-border-image : none;
}


/* Slider */

.slick-loading .slick-list {
    background: #fff url('./ajax-loader.gif') center center no-repeat;
    width: 505px;
}

/* Icons */

@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/fonts/slick.eot');
    src: url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/fonts/slick.eot?#iefix') format('embedded-opentype'), url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/fonts/slick.woff') format('woff'), url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/fonts/slick.ttf') format('truetype'), url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/fonts/slick.svg#slick') format('svg');
}




.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 86px;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    /* left: -25px; */
}

[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto;
}

.slick-prev:before {
    content: '←';
}

[dir='rtl'] .slick-prev:before {
    content: '→';
}

.slick-next {
    right: -2px;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: -25px;
}

.slick-next:before {
    content: '→';
}

[dir='rtl'] .slick-next:before {
    content: '←';
}

/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    /* width: 20px; */
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active img {
    opacity: 1;
    color: black;
}
.dot-style {
    margin-top: 7px;
}

img[class] {
    width: 100%;
}